img { 
  width: 100%;
  height: 100%;
}

.Cover {
  

}

.Movies { 
  display: flex;
  flex-flow: row wrap;
}

.item {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.Overlay {
transition: bottom ease-in-out 1s;
display: block;
position: absolute;
background-color: blue;
bottom: -100px;
bottom: left;
width: 100%;
text-align: center;
font-family: Impact, sans-serif;
opacity: .7;
}

.item:hover .Overlay {
  display: block;
  opacity: 1;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .Movie {
  flex-direction: column;
  }
}